:root{
    --main-font: 'Source Sans Pro', sans-serif;
    --secondary-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --body-font: 'Cabin', sans-serif;
    --main-font-color-dark: #252525;
    --main-font-color-dark-hover: #108bca;
    --secondary-font-color: #ffff;
    --body-font-color: #464646; 
}

footer{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.footer-wrapper{
    height: max-content;
    width: 100%;
    background-color: #03051e;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    overflow: hidden;
}

.footer{
    width: 70%;
    height: max-content;
    background-color: #03051e;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 40px 0;
    line-height: 2rem;
}


/*about section*/
.footer-logo{
    margin-bottom: 30px;
    height: 30px;
    cursor: pointer;
}

.about{
    width: 400px;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#about-para{
    font-family: var(--main-font);
    color: #fff;
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 1px;
    font-style: italic;
    text-align: center;
}


/*after about section*/
.after-about{
    width: max-content;
    height: max-content;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.after-about h4, p{
    font-family: var(--main-font);
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
}

.after-about p{
    cursor: pointer;
}

.after-about h4, .contact h4{
    text-decoration: underline;
    font-weight: 400;
    margin-bottom: 20px;
}

.after-about p, .contact p, .contact address{
    font-weight: 100;
}

.after-about p:hover{
    color: var(--main-font-color-dark-hover);
    text-decoration: underline;
}


/*contact*/
.contact{
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.contact h4, p, address, a{
    font-family: var(--main-font);
    color: #fff;
    font-size: 14px;
    letter-spacing: 1px;
    font-style: normal;
}

.contact a{
    cursor: pointer;
}


.footer .contact a:hover{
    color: var(--main-font-color-dark-hover);
    text-decoration: underline;
}

.contact address{
    margin-bottom: 20px;
}


/*social media icons*/
.social-media{
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.social-media h4{
    font-family: var(--main-font);
    color: #fff;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 400;
    text-decoration: underline;
    margin-bottom: 30px;
}

.social-media-icons{
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.social-media-icons img{
    width: 40px;
    margin-bottom: 15px;
}

.social-media-icons img:hover{
    background-color: rgba(66, 66, 66, 0.74);
}



/*footer bottom part*/
.footer-bottom{
    width: 100%;
    height: max-content;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.footer-bottom p{
    font-size: 14px;
    color: var(--main-font-color-dark);
    padding: 2rem 0;
    font-family: var(--main-font);
}